.waiting {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0);
}

.waitingLine {
    display: flex;
    align-items: center;
}

.waitingLine_logo {
    width: 200px;
    height: 200px;
    background-color: #ffffff;
}

.waitingLine_logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.waitingLine_team {
    width: 450px;
    height: 150px;
    background-color: #2A0054;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: #fff;
}

.waitingLine_vs {
    width: 250px;
    height: 150px;
    background-color: #E5097F;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: #fff;
}

.waitingLine_wait {
    width: 250px;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    margin-bottom: -25px;
}

.waitingLine_sponsors {
    width: 650px;
    height: 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
}